body{
    padding-top: 60px;
}

.contact__form .form-control{
    padding: 1.375rem .75rem;
    line-height: 1.5;
    color: black;
    background-color: white;
    border-radius: 0 !important;
    border: 1px solid black;
}

.contact__form input .form-control{
    margin-bottom: 2em;
    height: calc(2.5em + .75rem + 2px);
}

.btn{
    color:black;
   
}

.btn:hover{
    color: rgb(253, 202, 34);
}